<!DOCTYPE html>
<html>
  <body class="bg-dark d-flex justify-content-center align-items-center min-vh-100">

    <form (submit)="sendResetCode()">
      <div class="form-group">
        <label class="auth-label" for="email">EMAIL</label>
        <input [(ngModel)]="email" type="email" name="email" class="auth-input" placeholder="Enter email">

        @if(invalidEmail()){
          <p class="error-msg">NO ACCOUNT EXISTS FOR THIS EMAIL</p>
        }
      </div>

      <button type="submit" class="auth-btn">SUBMIT</button>
    </form>
  </div>
</div>
