.product-card{
    cursor: pointer;
}

.product-img{
    height: 420px;
    object-fit: cover;
    transition: transform 0.7s ease;
}

.product-card:hover .product-img{
    transform: scale(1.05);
}

.quick-view{
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    padding: 12px;
    background: #22ff00;
    color: black;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.3s ease;
}

.product-card:hover .quick-view{
    bottom: 0;
}

.category-text{
    letter-spacing: 2px;
    color: white;
}