<body class="bg-dark d-flex justify-content-center align-items-center">

  <div class="form-card">
    <form [formGroup]="form" (submit)="UpdatePassword()">

      <div class="field">
        <label class="field-label" for="password">Password</label>
        <input formControlName="password" class="form-control" id="password" name="password">

        @if(form.get('password')?.errors?.['required'] && form.get('password')?.touched){
          <p class="error-msg">Please enter password</p>
        }

        @if(form.get('password')?.errors?.['minlength'] && form.get('password')?.dirty){
          <p class="error-msg">Password must have at least 8 characters</p>
        }

        @if(form.get('password')?.errors?.['pattern'] && form.get('password')?.dirty){

          @if( !/[^a-zA-Z0-9]/.test(form.get('password')?.value!) ){
            <p class="error-msg">Password must have at least one special character</p>
          }

          @if( !/[0-9]/.test(form.get('password')?.value!) ){
            <p class="error-msg">Password must have at least one digit</p>
          }

          @if( !/[A-Z]/.test(form.get('password')?.value!) ){
            <p class="error-msg">Password must have at least one uppercase letter</p>
          }

          @if( !/[a-z]/.test(form.get('password')?.value!) ){
            <p class="error-msg">Password must have at least one lowercase letter</p>
          }

        }
      </div>

      <div class="field">
        <label class="field-label" for="confirmPassword">Confirm password</label>
        <input formControlName="confirmPassword" class="form-control" id="confirmPassword" name="confirmPassword">

        @if(form?.errors?.['match']){
          <p class="error-msg">Passwords must match</p>
        }
      </div>

      <button [disabled]="form?.invalid" class="btn btn-primary submit-btn" type="submit">Submit</button>

    </form>
  </div>

</body>